*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}


.cont-1{

    background-color: black;
    width: 100%;
    

}

.cont-for-header{

 
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    height: 80px;
    width: 100%;
    max-width: 1400px;
   
}
.cont-2{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.AutoBot{

    flex-wrap: nowrap;
   

    
}
.navi-links{

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.navi-links li{


    padding: 20px 30px;
    font-family: inter,poppins,sans-serif,'Courier New', Courier, monospace;
    font-weight: 600;

}
.navi-links li:hover{

    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

.navi-links li a{

    color: #F4F6FF;
    text-decoration: none;
}
.AutoBot-title{

    display: flex;
    align-items: center;
    justify-content: center;
}
.AutoBot-title h1{

    font-family: inter,poppins,sans-serif,'Courier New', Courier, monospace;
    color: #F3F5FF;
}

.navbar{

    display: none;
    align-items: center;
    justify-content: center;
}
.navi-links-when-click-navicon{

    display: none;
}
/*message*/
.cont-3{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-top: 100px;

}
.cont-for-message{


max-width: 1200px;
width: 100%;



}
.cont-for-title-Message{

    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    font-family: Inter,sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
.cont-for-form{

    display: flex;
    flex-direction: column;
}
.cont-for-form2{

    display: flex;

}
.cont-for-two-input{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.cont-for-third-input{

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-for-two-input input{

    height: 80px;
    width: 80%;
    border-radius: 10px;
    padding-left: 20px;
}
.cont-for-third-input input{

    height: 200px;
    width: 80%;
    border-radius: 10px;
    padding-left: 20px;
}
.cont-for-send-button{

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cont-for-send-button button{

    
    max-width: 600px;
    width: 100%;
    border: none;
    height: 80px;
    background-color: #091F66;
    color: white;
    font-size: 20px;
    font-weight: 300;
    
}
/*following code for fotter...*/

.cont-for-fotter-bg{


    background-color: #171818;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cont-for-fotter-bg2{


max-width: 1400px;
width: 100%;

}

.cont-for-fotter{

   display: flex;
   flex-direction: row;
 


}
.cont-for-company-info{

    flex: 1;
    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 100px;
}
.cont-for-fotter-links{

    flex: 1;
    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 100px;
}
.cont-for-fotter-contact{

    flex: 1;
    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 100px;
}
.cont-for-fotter-follow-us{

    flex: 1;
    padding-top: 40px;
    color: rgb(251, 251, 251);
    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 100px;
}
.cont-for-company-name{

    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-for-company-name h1{


    font-family: inter,poppins,'Courier New', Courier, monospace,sans-serif;
    color: rgb(255, 252, 252);
    font-size: 40px;
  

}
.cont-for-compahy-para h3{

    color: rgb(194, 193, 193);
    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    
}
.cont-for-compahy-para{

    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    
}


.cont-for-fotter-link-list{

    list-style: none;
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
}
.cont-for-fotter-link-list li{

    padding: 10px 0px;
    color: white;
}
.cont-for-fotter-contact-details{

    list-style: none;
    padding-top: 20px;
    
}
.cont-for-fotter-contact-details li{

    padding: 10px 0px;
    font-weight: 500;
    color: wheat;
    
}
.cont-for-fotter-contact-title{

    color: white;
}
.cont-for-fotter-like-title{
    color: white;
}
.cont-for-copy-right{

    font-family: Inter,poppins,'Courier New', Courier, monospace,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: white;
    padding-bottom: 50px;
}
.cont-for-fotter-contact-logo{

    list-style: none;
    display: flex;
    padding-top: 50px;
}
.cont-for-fotter-contact-logo li img{

    height: 40px;
    
}
.cont-for-fotter-contact-logo li{

    padding: 10px 10px;
}

@media (max-width:1200px){


.navi-links{

    display: none;
}
.cont-for-fotter{

    display: flex;
    flex-direction: column;
  
 }

 .navi-links{

    display: none;
 }

 .navbar{

    display: flex;
    align-items: center;
    justify-content: center;
 }
 .cont-for-form2{

    display: flex;
    flex-direction: column;
 }
.cont-for-form2 input{

    width: 100%;
   
}

.cont-for-two-input div{

    margin:20px;
}
.cont-for-third-input {

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cont-for-send-button{

    margin: 20px;
}
}